Monobox/Assets.xcassets/New Folder/Contents.json
Monobox/Assets.xcassets/New Folder/bodytext.colorset/Contents.json
Monobox/Assets.xcassets/New Folder/Dark Background.colorset/Contents.json
Monobox/Assets.xcassets/New Folder/Dark Grey.colorset/Contents.json
Monobox/Assets.xcassets/New Folder/headings.colorset/Contents.json
Monobox/Assets.xcassets/New Folder/iconshade.colorset/Contents.json
Monobox/Assets.xcassets/New Folder/Light Background.colorset/Contents.json
